<!DOCTYPE html>
{% extends 'inc/base_authorized.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between">
    {% block page_title %}
    <h3>Newest Questions</h3>
    <div class="d-flex">
        <button type="button" class="btn btn-outline-dark">Popular</button>
        <button type="button" class="btn btn-outline-dark active ms-3">Newest</button>
    </div>
    {% endblock %}
</div>
{% for question in page_obj %}
    {% include './inc/question_item.html' %}
{% endfor %}
{% include './inc/pagination.html' %}
{% endblock %}