{% extends './inc/base.html' %}
{% block content %}
<h3>Sign Up</h3>
<form class="w-50 mt-3">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text">@</span>
      <input type="text" maxlength="20" class="form-control is-invalid" id="inputUsername" placeholder="Username" required="">
      <div class="invalid-feedback">
        Your username is required.
      </div>
    </div>
  </div>
  <div class="mb-3 has-validation">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" placeholder="you@example.com" maxlength="40" class="form-control is-invalid" id="inputEmail">
    <div class="invalid-feedback">
      This email address is not correct.
    </div>
  </div>
  <div class="mb-3 has-validation">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control is-invalid" maxlength="100" id="inputPassword">
    <div class="invalid-feedback">
      Your password is too short.
    </div>
  </div>
  <div class="mb-3">
    <label for="inputAvatar" class="form-label">Avatar</label>
    <input class="form-control" type="file" id="inputAvatar">
  </div>
  <button type="submit" class="btn btn-dark">Sign up</button>
</form>
{% endblock %}