.fut-text {
    color: #4D6F88;
    font-weight: 300;
}

.sup-border {
    color: #121212;
    border-style: dashed;
    border-bottom-width: 2px;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 0;
}

.ask-usr-block {
    background-color: #D9F6F7;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.ask-usr-date::before {
    content: "asked ";
}

.ans-usr-block {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.ans-usr-date::before {
    content: "answered ";
    font-size: medium;
}
.rating::before {
    content: "Your rating is "
}

.btn-rate {
    border: 0;
    background: transparent;
}