<!DOCTYPE html>
{% load static %}
<div class="row sup-border pb-4 mt-3">
    <div class="col-1 text-center">
        <div class="d-inline-flex flex-column text-center">
            <button class="btn-rate">
                <img src="{% static '/img/like.svg' %}"  alt="" width="25" height="25">
            </button>
            <span class="fs-5">{{ question.rating }}</span>
            <button class="btn-rate">
                <img src="{% static '/img/like.svg' %}"  style="rotate: 180deg;" alt="" width="25" height="25">
            </button>
        </div>
    </div>
    <div class="col-11">
        <a href="#">
            <h3>{{ question.title }}</h3>
        </a>
        <p class="mt-3">{{ question.text }}</p>

        <div class="d-flex justify-content-between">
            <div>
                {% for tag in question.tags %}
                <a href="/questions/tag" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-dark btn-sm">{{ tag }}</button>
                </a>
                {% endfor %}
            </div>
            <div class="ask-usr-block d-inline-block p-2">
                <span class="ask-usr-date fw-light">{{question.asked_date}}</span>
                <div class="d-flex align-items-center">
                    <img class="border border-dark border-2 rounded-circle " src="{% static question.user.avatar_path %}"  width="32" height="32" alt="">
                    <div class="d-flex flex-column ms-2">
                        <span class="mb-0">{{question.user.username}}</span>
                        <span style="font-size: small;">{{question.user.rating}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>